.footerContainer {
  display: flex;
  background-color: lightgray;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.footerItems {
  font-size: 30px;
}
.subContainerFooter {
  width: 45%;

  display: flex;
  justify-content: space-between;
  padding: 30px;
}
